/* Login page container */
.loginPage {
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Login form */
.formLabel {
  display: flex;
  flex-direction: column;

  gap: 20px;
  width: 300px;
}

/* Input styles */
.input {
  padding: 12px 15px;

  border: 1px solid #555;
  border-radius: 8px;

  background: #2f2f2f;
  color: white;
}

/* Placeholder color */
.input::placeholder {
  color: #bdbdbd;
}