.BlogThumb {
  width: 120px;
  min-width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 16px;
}

.BlogThumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.BlogCard {
  margin-bottom: 20px;
  border-radius: 16px;
}
